.flex-1{
    flex:1;
}

body{
    background-color:forestgreen;
    color:peru;
    font-family: 'Architects Daughter', cursive;
}
#search-button{
    border:none;
    
   
    
}
.card-body{
    background-color:peachpuff;
}
#house{
    background:transparent;
    color:rgb(33, 84, 123) ;
    margin-left: 20px;
    font-size: 30px;
    transition:width 250ms;
}
#house:hover{
    color: peru;
    font-size:40px;
}